.sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar > div {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.color-picker {
    background-color: white;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#color-selector {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 37px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
}

#color-selector::-webkit-color-swatch {
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

#color-selector::-moz-color-swatch {
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.elements-animate {
    animation: openElements 0.4s 1;
    transform-origin: top;
}

@keyframes openElements {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

.section-animate {
    animation: openElementsBox 0.8s 1;
    transform-origin: top;
}

@keyframes openElementsBox {
    from {
        transform: scaleY(0);
    }
    55% {
        transform: scaleY(1.025);
    }
    to {
        transform: scaleY(1);
    }
}